caption {
    margin: 10px 0px;
    font-size: 30px;
    font-weight: bold;
}
table {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid grey;
    border-left: 5px solid grey;
    border-collapse: collapse;
}


th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.lunch {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: bold;
}